<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="cover.css" />
    <link rel="stylesheet" type="text/css" href="css.css" />
    <title>Tchat</title>
    <script src="jquery-2.2.2.min.js"></script>
    <script src="sockjs-0.3.4.js"></script>
    <script src="stomp.js"></script>
    <script type="text/javascript">
        var stompClient = null;

        function setConnected(connected) {
            document.getElementById('response').innerHTML = '';
        }

        function connect() {
            var socket = new SockJS('/tchat');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                setConnected(true);
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/greetings', function(messageUser){
                    showMessageUser(JSON.parse(messageUser.body).content);
                });
            });
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendMessage() {
            var token = document.getElementById('tokenTchat').value;
            var user = document.getElementById('user').textContent;
            var message = document.getElementById('message').value;
            $('#message').val('');
            $('#message').focus();
            stompClient.send("/app/tchat", {}, JSON.stringify({ 'message': message, 'user' : user, 'token' : token }));
        }

        function showMessageUser(message) {
            var response = document.getElementById('response');
            var p = document.createElement('p');
            p.innerHTML = message;
            response.appendChild(p);
            element = document.getElementById('area');
            element.scrollTop = element.scrollHeight;
        }
    </script>
</head>
<body onload="connect();">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable
    Javascript and reload this page!</h2></noscript>


<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">
            <div class="inner cover">

        <form th:action="@{/logout}" method="post">
            <input class="foxtrot pose" type="submit" value="Sign Out"/>
        </form>

        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>

        <div>
            <form method="POST" enctype="multipart/form-data" th:action="@{/upload}">
                <table class="centre">
                    <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                    <input type="hidden" name="name" th:value="${account.username}" />
                    <tr><td><input class="alpha" type="submit" value="Upload" /></td><td></td></tr>
                </table>
            </form>
        </div>

        <h1 th:inline="text">Hello <span id="user">[[${#httpServletRequest.remoteUser}]]</span>!</h1>
        <input type="hidden" id="tokenTchat" th:value="${account.token}" />
    <div id="conversationDiv">
        <label>Message : </label><input class="colorBlack" type="text" id="message" />
        <button class="alpha" id="sendMessage" onclick="sendMessage();">Send</button>
        <p>
        <div id="area" class="tchat colorBlack">
            <p th:if="${messageRepo!=null}" th:each="tchatMsg : ${messageRepo}" th:utext="${tchatMsg.content}" />
            <p id="response"></p>
        </div>
                </p>
    </div>
            </div>
</div>
</div>
</div>
</body>
</html>