<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Tchat </title>
    <script src="jquery-2.2.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="signin.css" />
    <link rel="stylesheet" type="text/css" href="css.css" />
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>


<div class="container">

<form class="form-signin" th:action="@{/login}" method="post">
    <label for="inputLogin" class="sr-only">Login</label>
    <input id="inputLogin" class="form-control" placeholder="Login" type="text" name="username"/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"/>
    <button class="btn btn-lg btn-primary btn-block india" type="submit">Se connecter</button>
    <button class="btn btn-lg btn-primary btn-block sinscrire india" type="button" onClick="$('#inscription').removeClass('toHide');">S'inscrire</button>
</form>


<form class="form-signin toHide" id="inscription" action="#" th:action="@{/add}" th:object="${account}" method="post">
    <label for="login" class="sr-only">Login</label>
    <input id="login" class="form-control" placeholder="Login"  type="text" th:field="*{username}" />
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</p>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control " placeholder="Password" th:field="*{password}" />
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</p>
    <input class="btn btn-lg btn-primary btn-block inscription india" type="submit" value="Submit"/><input class="btn btn-lg btn-primary btn-block reset india" type="reset" value="Reset"/>
    <div th:if="${!#fields.hasErrors('username') and !#fields.hasErrors('password') and account.username != null}">
        <script>$('#inscription').removeClass('toHide');</script>
        <p th:text="'User : ' + ${account.username} + ' added'" />
        <script>$('#login').val('');</script>
    </div>
    <div th:if="${#fields.hasErrors('username') or #fields.hasErrors('password')}">
        <script>$('#inscription').removeClass('toHide');</script>
    </div>
</form>

</div> <!-- /container -->
</body>
</html>