.inscription{width: 45% !important; float: left; margin-right: 3%; margin-left: 3%;}
.sinscrire{margin-top:5%;}
.reset{width: 45% !important; margin-right: 3%; margin-left: 3%;}
.toHide{display: none !important;}

.tchat{background-color: hsl(0, 0%, 79%) !important; width: 300px; height: 400px; overflow: auto; border: 1px solid #000;display: inline-block !important;}
.colorBlack{color: #333 !important;}
.tchat p{margin-left: 3px !important; margin-top: 3px !important; text-align: -moz-left !important;}
.centre{display: inline-block !important;}

.alpha{ background-color: hsl(193, 32%, 49%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8d3da", endColorstr="#5493a4"); background-image: -khtml-gradient(linear, left top, left bottom, from(#b8d3da), to(#5493a4)); background-image: -moz-linear-gradient(top, #b8d3da, #5493a4); background-image: -ms-linear-gradient(top, #b8d3da, #5493a4); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b8d3da), color-stop(100%, #5493a4)); background-image: -webkit-linear-gradient(top, #b8d3da, #5493a4); background-image: -o-linear-gradient(top, #b8d3da, #5493a4); background-image: linear-gradient(#b8d3da, #5493a4); border-color: #5493a4 #5493a4 hsl(193, 32%, 41.5%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49); -webkit-font-smoothing: antialiased; }
.foxtrot{background-color: hsl(0, 69%, 22%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111"); background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111)); background-image: -moz-linear-gradient(top, #b42121, #5e1111); background-image: -ms-linear-gradient(top, #b42121, #5e1111); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111)); background-image: -webkit-linear-gradient(top, #b42121, #5e1111); background-image: -o-linear-gradient(top, #b42121, #5e1111); background-image: linear-gradient(#b42121, #5e1111); border-color: #5e1111 #5e1111 hsl(0, 69%, 17%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }
.india{background-color: hsl(214, 37%, 28%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a99c1", endColorstr="#2c4361"); background-image: -khtml-gradient(linear, left top, left bottom, from(#7a99c1), to(#2c4361)); background-image: -moz-linear-gradient(top, #7a99c1, #2c4361); background-image: -ms-linear-gradient(top, #7a99c1, #2c4361); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a99c1), color-stop(100%, #2c4361)); background-image: -webkit-linear-gradient(top, #7a99c1, #2c4361); background-image: -o-linear-gradient(top, #7a99c1, #2c4361); background-image: linear-gradient(#7a99c1, #2c4361); border-color: #2c4361 #2c4361 hsl(214, 37%, 19.5%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56); -webkit-font-smoothing: antialiased;}
.pose{margin-left: -40%; margin-bottom: 5%;}